<h2> Welcome <%= current_user.first_name %> </h2>
  <hr />
    <h3> Your Shopping Lists </h3>
      <ul>
        <% @lists.each do |list| %>
          <li>
            <%= list.name %>
          </li>
            <%= link_to "View List", list_path(list) %>
            <%= link_to "Edit List", edit_list_path(list) %>
            <%= link_to "Delete List", list_path(list), method: :delete %>
        <% end %>
      </ul>
  <hr />
<%= link_to "Add List", new_list_path %>
