# <h1> Add Item </h1>
# <%= form_with(model: @item, local:true) do |f| %>
#   <div class="field">
#   <%= f.label :name %>
#   <%= f.text_field :name, required: true, placeholder: "Name" %>
#   </div>
#   <div class="field">
#   <%= f.label :price %>
#   <%= f.number_field :price, placeholder: "$" %>
#   </div>
#   <%= f.submit %>
#   <% end %>